@tailwind base;
@tailwind components;
@tailwind utilities;

/*about us*/
#about {

    #title1 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    #description1 {
        text-align: center;
    }
}

/*events*/
.events {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    /* desktops */
}

/*contact form*/
#title3 {
    font-size: 20px;
    font-weight: bold;
}
#contact {
    text-align: center;
}
#name {
    width: 40%;
}
#email {
    width: 40%;
}
#subject{
    width: 40%;
}
#message {
    width: 50%;
}